<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24247089008-jnr5sevh3ik1j0e3ah132ferb8pp49pr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24247089008-jnr5sevh3ik1j0e3ah132ferb8pp49pr</string>
	<key>API_KEY</key>
	<string>AIzaSyCqLsvh618kH6tdOlZJBwvbcvdU6luvoCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>24247089008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fyi</string>
	<key>PROJECT_ID</key>
	<string>findyourinvestor-fyi</string>
	<key>STORAGE_BUCKET</key>
	<string>findyourinvestor-fyi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24247089008:ios:225ffcae33d22fac8241b5</string>
</dict>
</plist>